<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="../../../assets/mp4/bg2.mp4" type="video/mp4" />
</video>
<!-- Masthead-->
<div class="masthead">
  <div class="masthead-content text-white">
    <div class="container-fluid px-4 px-lg-0">
      <h1 class="fst-italic lh-1 mb-4">KANBAN BOARD</h1>
      <p class="mb-5">Developing an increased level of trust with other teams can enable the harder things.</p>
      <div class="row input-group-newsletter">
        <div class="col-auto"><button class="btn btn-primary " id="submitButton" type="submit"
            (click)="navigateTo()">Get Start with Kanban</button></div>
      </div>
    </div>
  </div>
</div>