<!-- 
<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">

	<source src="../../../assets/mp4/bg2.mp4" type="video/mp4" />
  </video>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h1>Login</h1>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="email" formControlName="email" >
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" formControlName="password" required>
						<div class="invalid-feedback">invalid</div>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn" [disabled]="loginForm.invalid">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a routerLink="/register">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div> -->



<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">

	<source src="../../../assets/mp4/bg2.mp4" type="video/mp4" />
  </video>
  
  <div class="container">
	<div class="d-flex justify-content-center h-100">
	  <div class="card">
		<div class="card-header">
		  <h1>Login</h1>
		  <div class="d-flex justify-content-end social_icon">
			<!-- <span><i class="fab fa-facebook-square"></i></span> -->
			<!-- <span><i class="fab fa-google-plus-square"></i></span> -->
		  </div>
		</div>
		<div class="card-body">
		  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="input-group form-group">
			  <div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
			  </div>
			  <div style="width: 86%;"> <input type="text" class="form-control" placeholder="email" name="email" formControlName="email"></div>
			 
			  <!-- username validation -->
			  <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
				<small style="color:red"  *ngIf="email?.errors?.['required']">Email is required</small>
				<small style="color:red" *ngIf="email?.errors?.['pattern']">Please provide a valid email address</small>
			  </div>
			</div>
  
  
			<!-- password textbox -->
			<div class="input-group form-group">
			  <div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-key"></i></span>
			   </div>
			<div style="width: 86%;"><input type="password" class="form-control" placeholder="password" name="password"
				formControlName="password" ></div>
  
				<!-- password validation -->
				<div *ngIf="(password?.invalid && password?.touched) || password?.dirty">
				  <mat-error *ngIf="password?.errors?.['pattern']">
					Password should have min 8 letter password, with at least a symbol, upper and lower case letters
					and a number
					symbol.
				</mat-error>
				<small style="color:red"  *ngIf="password?.errors?.['required']">password is required</small>
				 
				</div>
			</div>
	
		 
  
			<!-- checkbox -->
			<div class="row align-items-center remember">
			  <!-- <input type="checkbox">Remember Me -->
			</div>
			<div class="form-group">
			  <input type="submit" value="Login" class="btn float-right login_btn" [disabled]="loginForm.invalid">
			</div>
		  </form>
		</div>
		<div class="card-footer">
		  <div class="d-flex justify-content-center links">
			Don't have an account?<a routerLink="/register">Sign Up</a>
		  </div>
		  <div class="d-flex justify-content-center">
			<!-- <a href="#">Forgot your password?</a> -->
		  </div>
		</div>
	  </div>
	</div>
  </div>